*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.container{
    height: 100vh;
    background-color: #c3c7f3;
    margin: 0;
    display: flex;
    align-items: center;
}
.box{
    width: 350px;
    height: 350px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin:auto;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.image{
    cursor: pointer;
    display: flex;
    align-items: center;
}


img[alt *= "black"]{
    position: absolute;
    left: 80px;
}

img[alt *= "color"]{
    position: absolute;
    left: 80px;
    animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;
}
img[alt *= "color"]:active{
    animation-play-state: paused;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    to{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}